<div class="ui two column divided grid main">
	<div class="five wide column">
		<div class="user-profile">
			<img class="ui circular image profile-img" src="https://i.pinimg.com/originals/7a/62/d6/7a62d6eb16a01f07bd7cddd5166536b9.jpg">
			<p class="ui large header">Sriram V</p>
			<br/>
			<hr/>
			<br/>
			<div class="contacts">
				<div class="ui large header">Contact:</div>
				<div class="ui medium header">Emails:</div>
				<ul>
					<li>srira.venkat@gmail.com</li>
					<li>sriram14641@gmail.com</li>
				</ul>
				<div class="ui medium header">Mobile:</div>
				<ul>
					<li>8344000240</li>
					<li>8124911200</li>
				</ul>
				<div class="ui medium header">Address:</div>
				<ul>
					<li>235, Pearl Hostel, BIT</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="eleven wide column skill-profile">
		<div class="skill-profile">
			<div class="row">
				<div class="ui large header">Language Proficency:</div>
				<ul class="round-boxes">
					<li>Ruby</li>
					<li>Python</li>
					<li>C</li>
					<li>C++</li>
				</ul>
			</div>
			<div class="row">
				<div class="ui large header">Skills:</div>
				<ul class="round-boxes">
					<li>Ruby on Rails</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>JQuery</li>
					<li>REST Api</li>
					<li>MySQL</li>
					<li>Postgresql</li>
				</ul>
			</div>
		</div>
	</div>
</div>