<div class="ui padded container" style="padding-top: 10%">
	<h2><span class="ui blue text">User counts:</span> <%= @users_count %></h2>
	<h2><span class="ui blue text">Jobs counts:</span> <%= @posts_count %></h2>
	
	<div style="margin: 5% 0">
		<button class="ui green button">
			Create Job
		</button>
		&ensp;&ensp;
		<button class="ui blue button">
			Create Intern
		</button>
	</div>
	
	<div class="reports">
		<h3>Reports:</h3>
		<div class="ui raised segment"> User1 reported a post under Fake information</div>
	</div>
</div>