<div class="search-wrapper">
	<div class="ui container search-box">
		<div data-controller="search" data-search-default-url-value="<%= image_path('profile-pic.jpg') %>">
			<div class="search-label">Search By:</div>
			<br/>
			
			<div class="ui action fluid input">
				<select class="ui compact selection dropdown computer only">
					<option value="Name">Name</option>
					<option value="Language">Language</option>
					<option value="Skill">Skill</option>
				</select>
				<input data-search-target="input" type="text" placeholder="Search...">
				<div class="ui positive icon button" data-action="click->search#getData">
					<i class="search icon"></i>
				</div>
			</div>
			<br/>
			<br/>
			<div class="suggestion-box" data-search-target="suggestion"></div>
		</div>
	</div>
</div>
