<% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="ui list">
      <% resource.errors.full_messages.each do |message| %>
        <div class="item">
			<i class="exclamation red icon"></i>
			<%= message %>
		</div>
      <% end %>
    </div>
  </div>
<% end %>
