<div class="ui grid">
	<%= render partial: 'rooms/chat_list' %>
	<div class="sixteen wide mobile ten wide tablet eleven wide computer column chat-room">
		<div class="initial-msg">
			<div class="text">
				Select a chat to start messaging
			</div>
		</div>
	</div>
</div>
