<div class="ui grid">
	<div class="five wide column message-index">
		<div class="chat-header">
			<div class="ui icon input">
				<i class="search icon"></i>
				<input type="text" placeholder="Chat with colleagues..." />
			</div>
		</div>
		<div class="chats">
			<div class="no-chat">
				<i class="huge frog icon"></i>
				<div class="empty-msg">You haven't initiated any convo yet..</div>
			</div>
		</div>
	</div>
	
	<div class="eleven wide column chat-room">
		<div class="initial-msg">Select a chat to start messaging</div>
	</div>
</div>
