<div id="<%= dom_id post %>" class="job-post">
  <p class="ui big header">
    <%= post.role %>
  </p>

  <p class="ui header" style="color: var(--light-grey)">
    <%= post.project %>
  </p>
  
  <hr style="border-color: var(--dark-grey);margin-bottom: 40px" />

  <p class="job-details">
    <%= post.body %>
  </p>
</div>
