<div class="form-cover">
<h1>Create achievement</h1>

<%= render "form", achievement: @achievement %>

<br>

<div>
  <%= link_to "Back to achievements", profile_achievements_path(@user.id) %>
</div>
</div>